.book-add-form-container {
    flex: 0 0 40%;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    padding: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group-label {
    flex: 0 0 150px;
    text-align: left;
    color: #606266;
}

.form-group-input {
    border: 1px solid #c0c4cc;
    padding: 11px;
    color: #606266;
    border-radius: 3px;
}

