.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.item {
  border-bottom: 2px solid red;
  padding: 20px;
}

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

.price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy_button {
  display: inline-block;
  color: red;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
}