.list {
    list-style: none;
    max-width: 1000px;
    margin: 30px auto;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}