.header-menu {
    display: flex;
    justify-content: center;
}

.header-menu-item {

}

.header-menu-link {
    display: inline-block;
    color: #303133;
    text-decoration: none;
    padding: 25px 20px;
}

.header-menu-link:hover {
    background-color: #ecf5ff;
}

.active {
    color: #409eff;
    border-bottom: 2px solid #409eff;
    background-color: #ecf5ff;
}