.btn {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 1px solid red;
    color: red;
    background-color: #fff;
}

.btn-submit {
    font-weight: bold;
}