.menu {
        display: flex;
        justify-content: center;
}
.link {
    display: inline-block;
    color: #303133;
    text-decoration: none;
    padding: 25px 20px;
}

.link:hover {
    background-color: #ecf5ff;
}

.activeLink {
    composes: link;
    color: #409eff;
    border-bottom: 2px solid #409eff;
    background-color: #ecf5ff;
}